<!--
Artist Show Page

Add a show page for every artist that meets the following requirements:
Visitors can see a list of all the songs associated to the artist.
Visitors can add a new song to the artist.
Visitors can remove any song associated to the artist.
Visitors can delete an artist, including all songs associated to that artist.
-->

<h1><%= @artist.name %></h1>

<p>These are his/her songs:</p>

<!-- itterate over each song of the artist -->
<ul>
<% @songs.each do |song| %>
  <li>
    <h3><%= song.name %></h3>

    <p><%= link_to 'Destroy', artist_song_path(@artist.id, song.id), method: :delete, data: { confirm: 'Are you sure?' } %></p>

  </li>

<% end %>

<%= link_to "[New Song]", new_artist_song_path(@artist.id) %>
